@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zip-A-Zip</h1>
    <p class="lead">Zip-A-Zip is a one stop solution website for hassel free check-in and check-out in addition to a comfortable stay.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Check-in</h2>
        <p>
            Select room of your choice .
        </p>
        @using (Html.BeginForm("Rooms", "Home"))
        {
        <p><button type="submit" class="btn btn-default" name="select-room" href="">Select Your Room &raquo;</button></p>
        }
    </div>
    <div class="col-md-4">
        <h2>Facilities</h2>
        <p>Get facilities of your choice</p>
        @using (Html.BeginForm("Facilities", "Home"))
        {
            <p><button type="submit" class="btn btn-default" href="">Make a request &raquo;</button></p>
        }
        </div>
    <div class="col-md-4">
        <h2>Offers</h2>
        <p>Get all the offers in your resturant</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Wake-up Call</h2>
        <p>
            Ask for a wake-up call
        </p>
        <p><a class="btn btn-default" href="">Set Time &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Travel Guide</h2>
        <p>Check for the nearest places to visit.</p>
        <p>
            <a class="btn btn-default" href="https://www.google.co.in/maps/search/places+to+visit+near+me/" target="_blank">Click to check &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Check-out</h2>
        <p>Pay your bills and checkout</p>
        @using (Html.BeginForm("Checkout", "Home"))
        {
            <p><button type="submit" class="btn btn-default" href="">Check Out &raquo;</button></p>
        }
        </div>
</div>